html body {
  background-color: #15202B;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.form-control.tweetBox {
  position: absolute;
  display: inline-block;
  width: 600px;
  height: 180px;
  top: 105px;
  border: 2px solid #CCCCCC !important;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #15202B !important;
  left: 33%;
  padding: 20px;
  color: white !important;
}

::placeholder {
  position: absolute;
  width: 234px;
  height: 41px;
  left: 383px;
  top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #CCCCCC !important;
}

.tweetBtn {
  position: absolute;
  left: 60%;
  top: 23%;
}

.maxChar {
  position: absolute;
  width: 340px;
  height: 29px;
  left: 22%;
  top: 165px;
  padding: 4px 10px 0px 7px !important;
}

.tweetItem {
  position: relative;
  width: 600px;
  height: 100px;
  left: 588px;
  top: 300px !important;
  border-radius: 6px;
  background-color: #343A40;
  color: white;
  margin-bottom: 15px;
}

.tweetTxt {
  position: absolute;
  width: 455px;
  height: 32px;
  top: 48px;
  left: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.userName {
  position: absolute;
  width: 162px;
  height: 12px;
  top: 20px;
  left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #6C757D;
}

.tweetDate {
  position: absolute;
  left: 411px;
  top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6C757D;
}

.loading {
  position: absolute;
  top: 190px;
  left: 47%;
  z-index: 1;
}

.navBar {
  position: absolute;
  width: 1076px;
  height: 58px;
  left: 25%;
  top: 0px;
  border-radius: 6px;
}

.navLink {
  margin-right: 45px;
}

.profile {
  position: absolute;
  width: 103px;
  height: 42px;
  left: 35%;
  top: 110px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.userNameBox {
  position: absolute;
  display: inline-block;
  width: 600px !important;
  height: 180px;
  top: 22%;
  border: 2px solid #CCCCCC !important;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #15202B !important;
  left: 35%;
  padding: 20px !important;
  color: white !important;
}

.userLabel {
  position: absolute;
  left: 673px;
  top: 189px;
  z-index: 1;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.userBtn {
  position: absolute;
  top: 300px;
  left: 62%;
}

.spin{
  position: absolute;
  top: 290px;
  left: 48%;
  z-index: 1;
}