html body {
  background-color: #15202B;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.form-control.tweetBox {
  position: absolute;
  display: inline-block;
  width: 600px;
  height: 180px;
  top: 5px;
  border: 2px solid #CCCCCC !important;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #15202B !important;
  left: 33%;
  padding: 20px;
  color: white !important;
}

::placeholder {
  position: absolute;
  width: 234px;
  height: 41px;
  left: 383px;
  top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #CCCCCC !important;
}

.tweetBtn {
  position: absolute;
  left: 60%;
  top: 13%;
}

.maxChar {
  position: absolute;
  width: 340px;
  height: 29px;
  left: 22%;
  top: 120px;
  padding: 4px 10px 0px 7px !important;
}
.tweetItem{
  position: relative;
width: 600px;
height: 100px;
left: 593px;
top: 205px;
border-radius: 6px;
background-color:#343A40 ; 
color: white;
margin-bottom: 15px ;
}
.tweetTxt{
  position: absolute;
width: 455px;
height: 32px;
top: 48px ;
left: 20px;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.userName{
  position: absolute;
width: 162px;
height: 12px;
top: 20px;
left: 20px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #6C757D;
}
.tweetDate{
  position: absolute;
left: 411px;
top: 18px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #6C757D;
}